<!-- <button>  Fruits
</button> -->


<br>
<button (click)="getFruits()">Fruit</button>
<br>
<br>
<button (click)="getvegetables()">Vegetable</button>


  <table border="2">
      <thead>
        <tr>
          <th> Fruits Name </th>
          
         
        </tr>
      </thead>
    
    
      <tbody>
        <tr >
          <td>{{fruits}}</td>
          
          
        </tr>
      </tbody>
    </table>
<br>
    <table border="4">
        <thead>
          <tr>
            <th> Vegetables Name </th>
            
           
          </tr>
        </thead>
      
      
        <tbody>
          <tr >
            
            <td>{{vegetables}}</td>
            
          </tr>
        </tbody>
      </table>